In [1]:
import pandas as pd 
import numpy as np

In [9]:
def text_prt(s):
    if type(s)!=str:
        return 'Invalid'
    return s

In [13]:
text_prt(1)

'Invalid'

In [15]:
text_prt('hi')

'hi'

In [17]:
def yo():
    return 'yo!'

In [19]:
yo()

'yo!'

In [27]:
def str_con(s1,s2):
    if type(s1)!=str or type(s2)!=str:
        return 'Invalid'
    return f'{s1} {s2}'

In [29]:
str_con('hi','world')

'hi world'

In [31]:
str_con(1,'hi')

'Invalid'

In [33]:
str_con('hi',1)

'Invalid'

In [39]:
def sq_sqrt(n):
    print(f'The Square of {n} is:{n**2}')
    print(f'The Square_Root of {n} is:{n**(1/2)}')

In [41]:
sq_sqrt(4)

The Square of 4 is:16
The Square_Root of 4 is:2.0

In [61]:
def mmm(n):
    print('Mean is',np.mean(n))
    print('Median is',np.median(n))
    print('Min is',np.min(n))
    print('Max is',np.max(n))
    #print(np.mode(n))

In [63]:
mmm(np.array([1,2,3,4,5,100]))

Mean is 19.166666666666668
Median is 3.5
Min is 1
Max is 100

In [67]:
def calling(n,m=1):
    print('m is',m)
    print('n is',n)

In [71]:
calling('Hello')

m is 1
n is Hello

In [94]:
calling(22,26)

m is 26
n is 22

In [77]:
def one_by_one(n):
    for i in str(n):
        print(i)

In [79]:
one_by_one(23322)

2
3
3
2
2

In [81]:
one_by_one('Hello')

H
e
l
l
o

In [87]:
def one_by_one_Vars(*n):
    for i in n:
        print(i)

In [91]:
one_by_one_Vars(1,2,'Hello',55,"World")

1
2
Hello
55
World

In [102]:
def course_stu(name,course,marks):
    return f'Hi! {name} you have scored {marks} and enrolled to {course} course!'

In [104]:
course_stu('Prakhar','PGP',90)

'Hi! Prakhar you have scored 90 and enrolled to PGP course!'

In [128]:
def course_dict(**kwargs):
    print(kwargs)
    for key,values in kwargs.items():
        print(values)
        print(key)

In [130]:
course_dict(Name='Prakhar',Marks=90,Course='PGP')

{'Name': 'Prakhar', 'Marks': 90, 'Course': 'PGP'}
Prakhar
Name
90
Marks
PGP
Course