# Basic

In [3]:
def avg(*n):
    sum=0
    for i in n:
        sum=sum+i
    return (sum/len(n))

In [4]:
avg(1,2,3,4)

2.5

In [203]:
def subs(**n):
    sum=0
    for i,j in n.items():
        
        for x in j:
            if type(x)==str:
                print(f'SUbjects are {x}')
                
            
            if type(x)==int:
                sum=sum+x
                
            else:
                continue
    print(f'Sum of marks is: {sum}')

In [204]:
subs(Subject=['FOML','DVST','SQL'],Marks=[55,66,77])

SUbjects are FOML
SUbjects are DVST
SUbjects are SQL
Sum of marks is: 198

# String

In [37]:
def dt(x,sep):
    x1 = x.split(sep)
    return x1[1]

In [38]:
dt('20/sep/2024','/')

'sep'

In [44]:
def count_e(x,c):
    sum=0
    for i in x.lower():
        if i==c.lower():
            sum=sum+1
        else:
            continue
        
    return sum

In [43]:
count_e('september','e')

3

In [45]:
count_e('septEmber','E')

3

In [54]:
x='September'
x[5:7]

'mb'

In [59]:
x1 = 'Praxis'
x2 = 'Praxys'
t1 = zip(x1,x2)

for i in t1:
    if i[0]!=i[1]:
        print(i)

('i', 'y')

In [64]:
def date_create(d,m,y):
    return f'{d}_{m}_{y}'

In [65]:
date_create(20,"sept",2024)

'20_sept_2024'

# Dict

In [111]:
dict1={}

In [113]:
def grocery(**p):
    return p

In [117]:
d1=grocery(Potato=24,Milk=28,Rice=50)

In [116]:
grocery(products=['Rice','Milk','Potato'],price=[50,28,24])

{'products': ['Rice', 'Milk', 'Potato'], 'price': [50, 28, 24]}

In [118]:
d1['Rice']

50

In [119]:
d1['Potato']

24

In [122]:
for i,j in d1.items():
    if j==24:
        print(i)

Potato

In [123]:
d1['Tomato']=60

In [124]:
d1

{'Potato': 24, 'Milk': 28, 'Rice': 50, 'Tomato': 60}

In [125]:
d1['Tomato']=55

In [126]:
d1

{'Potato': 24, 'Milk': 28, 'Rice': 50, 'Tomato': 55}

In [127]:
d1['Tomato']=55

In [128]:
d1

{'Potato': 24, 'Milk': 28, 'Rice': 50, 'Tomato': 55}

In [130]:
#add duplicate products in d1

# List

In [131]:
l=[]

In [138]:
l1=[1,2,[1,2,3]]
l1

[1, 2, [1, 2, 3]]

In [133]:
l1[2][1]

2

In [139]:
l1.remove(2)

In [140]:
l1

[1, [1, 2, 3]]

In [141]:
l1[0]='Hello'

In [137]:
l1

[1, 'Hello']

l1.append('World')

In [143]:
l1

['Hello', [1, 2, 3], 'World']

In [144]:
l1[::-1]

['World', [1, 2, 3], 'Hello']

In [145]:
l1.insert(1,'DMP')

In [146]:
l1

['Hello', 'DMP', [1, 2, 3], 'World']

# Tuple

In [148]:
t=()

In [162]:
t1=(1,2,(1,6,3))

In [150]:
t1

(1, 2, (1, 6, 3))

In [153]:
t1[2][1]

6

In [152]:
len(t1)

3

In [164]:
lx= list(t1)

In [165]:
lx.remove(2)

In [168]:
tx=tuple(lx)
tx

(1, (1, 6, 3))

In [169]:
lx[0]='Hello'

In [171]:
ty=tuple(lx)

In [172]:
ty

('Hello', (1, 6, 3))

In [173]:
lx.insert(1,'World')

In [174]:
tz = tuple(lx)
tz

('Hello', 'World', (1, 6, 3))

In [175]:
tz[::-1]

((1, 6, 3), 'World', 'Hello')

In [176]:
lx.append('Bye')

In [177]:
tz = tuple(lx)

In [178]:
tz

('Hello', 'World', (1, 6, 3), 'Bye')

# File Handling

In [179]:
import os

In [190]:
file1 = open('prac1.txt','w')
file1.write('Hello World\n')
file1.write('I am here done!\n')
file1.close()

In [191]:
file1 = open('prac1.txt','r')
for lines in file1:
    print(lines)

Hello World

I am here done!

In [192]:
file1 = open('prac1.txt','a')
file1.write('I have added a new line\n')
file1.close()

In [193]:
file1 = open('prac1.txt','r')
for lines in file1:
    print(lines)

Hello World

I am here done!

I have added a new line

In [194]:
import pandas as pd
df = pd.DataFrame([products,price])

In [195]:
df

      0     1         2
0  Milk  Rice  Potatoes
1    28    56        30

In [200]:
import pickle
pickle.dump(df,open('pickle_file','wb'))

In [201]:
pick = pickle.load(open('pickle_file','rb'))

In [202]:
pick

      0     1         2
0  Milk  Rice  Potatoes
1    28    56        30