1. create an empty tuple
2. check if a tuple can have mixed type of values
3. tuple is like lists. see if they can contain tuples as elements
4. can a tuple contain a list as an elemen. t
5 create a tuple of tuples, fetch the second tuple from thi. s.
6 from the second tuple fetch the second elem. ent
7 does negative indexing work in tup. les?
8 create a 6 elements tuple and try to fetch second on. wards
9 fetch the 3rd to 5th ele. ments
10 create a function which takes in a list an returns the 2nd and 4th elements. receive this as a tuple into two variables.

In [3]:
#1.create an empty tuple
tp = ()

In [74]:
len(tp)

0

In [7]:
#2. check if a tuple can have mixed type of values
tp1 = (1,'abcd',2,24.56,True)

In [9]:
tp1

(1, 'abcd', 2, 24.56, True)

In [11]:
#3. tuple is like lists. see if they can contain tuples as elements
tp1[1]

'abcd'

In [13]:
tp1[::-1]

(True, 24.56, 2, 'abcd', 1)

In [15]:
tp1[1:3]

('abcd', 2)

In [17]:
tp1[::2]

(1, 2, True)

In [19]:
for i in tp1:
    print(i)

1
abcd
2
24.56
True

In [28]:
#4. can a tuple contain a list as an elemen. t
tp_list = (1,2,[1,2,'abcd',True],'hello')
tp_list

(1, 2, [1, 2, 'abcd', True], 'hello')

(1, 2, [1, 2, 'abcd', True], 'hello')

In [34]:
#5 create a tuple of tuples, fetch the second tuple from thi. s.
tp_tp = (1,2,[1,2,3],(5,6,7),('a','b',(1,'c',8)))
print(tp_tp[3])
print(tp_tp[4][2])

(5, 6, 7)
(1, 'c', 8)

In [36]:
#from the second tuple fetch the second element
print(tp_tp[4][1])

b

In [38]:
#negative indexing
tp1[::-1]

(True, 24.56, 2, 'abcd', 1)

In [58]:
tp1[:1:-2]

(True, 2)

In [60]:
#8 create a 6 elements tuple and try to fetch second onwards

tp6 = (1,2,'Prakhar',[True,False],('yes','no'),True)

tp6[1::]

(2, 'Prakhar', [True, False], ('yes', 'no'), True)

In [64]:
#fetch the 3rd to 5th elements
tp6[3:6]

([True, False], ('yes', 'no'), True)

In [78]:
#create a function which takes in a list an returns the 2nd and 4th elements. receive this as a tuple into two variables.
def ret_val(n):
    a,b= n[1:5:2]
    return a,b

In [80]:
ret_val(tp6)

(2, [True, False])

In [84]:
def sq(x):
    def sq1(y):
        return y**2
    return sq1(x)

In [86]:
sq(2)

4

map:
- create a list of numbers, use a function and get the squares 
- create 4 more examples of where to use map

zip:
- create a list of numbers 1 to 5; create a list of names; using zip, match them and create combinations
- iterate thru the zip object and display the names alone
- create 4 examples of where to use zip

filter:
- create an array of numbers, using filter get the odd numbers
- consider a array of marks, using filter get marks of the students who have scored 75 or more
- create a list of numbers and strings, use filter to fetch the strings alone
- create 2 more examples of where to use filter

In [92]:
# create a list of numbers, use a function and get the squares 
y = [1,2,3,4]
f = list(map(lambda x:x**2,y))
f

[1, 4, 9, 16]

In [111]:
#create 4 more examples of where to use map
#1
y = 'string'
f = (map(lambda x:x.upper(),y))
f1 = list(f)
fs = ''.join(f1)

In [107]:
f1

['S', 'T', 'R', 'I', 'N', 'G']

In [113]:
fs

'STRING'

In [121]:
#2 
y = [1,2,3]
add = list(map(lambda x:f'Roll_number {x}',y))

In [125]:
add

['Roll_number 1', 'Roll_number 2', 'Roll_number 3']

In [154]:
# 3
y = [100,-200,300,-9000,10000]
l1 = tuple(map(lambda x: 'Positive' if x>0 else 'Negative',y))

In [158]:
l1

('Positive', 'Negative', 'Positive', 'Negative', 'Positive')

In [170]:
#4. 
y = ('Hello','World',123,True,False,64)
l2 = list(map(lambda x: 'int' if type(x)==int else 'other_dtype',y))

In [172]:
l2

['other_dtype', 'other_dtype', 'int', 'other_dtype', 'other_dtype', 'int']

- create a list of numbers 1 to 5; create a list of names; using zip, match them and create combinations
- iterate thru the zip object and display the names alone
- create 4 examples of where to use zip

In [182]:
l_name = ['Prakhar','Shivam','Vaibhav']
age = [25,25,23]
print(list(zip(l_name,age)))
print(dict(zip(l_name,age)))
print(tuple(zip(l_name,age)))

[('Prakhar', 25), ('Shivam', 25), ('Vaibhav', 23)]
{'Prakhar': 25, 'Shivam': 25, 'Vaibhav': 23}
(('Prakhar', 25), ('Shivam', 25), ('Vaibhav', 23))

In [184]:
d1 = dict(zip(l_name,age))

In [190]:
for name,age in d1.items():
    print(name)

Prakhar
Shivam
Vaibhav

In [192]:
y = ('Hello','World',123,True,False,64)
l2 = list(map(lambda x: 'int' if type(x)==int else 'other_dtype',y))

print(dict(zip(y,l2)))

{'Hello': 'other_dtype', 'World': 'other_dtype', 123: 'int', True: 'other_dtype', False: 'other_dtype', 64: 'int'}

In [194]:
y = [100,-200,300,-9000,10000]
l1 = tuple(map(lambda x: 'Positive' if x>0 else 'Negative',y))
print(list(zip(y,l1)))

[(100, 'Positive'), (-200, 'Negative'), (300, 'Positive'), (-9000, 'Negative'), (10000, 'Positive')]

In [196]:
y = [1,2,3,4]
f = list(map(lambda x:x**2,y))
print(tuple(zip(y,f)))

((1, 1), (2, 4), (3, 9), (4, 16))

In [198]:
y = [1,2,3]
add = list(map(lambda x:f'Roll_number {x}',y))
dict(zip(y,add))

{1: 'Roll_number 1', 2: 'Roll_number 2', 3: 'Roll_number 3'}

- create an array of numbers, using filter get the odd numbers
- consider a array of marks, using filter get marks of the students who have scored 75 or more
- create a list of numbers and strings, use filter to fetch the strings alone
- create 2 more examples of where to use filter

In [220]:
l4 = [10,20,31,4,55,31,46,61]
l_odd = list(filter(lambda x: x%2!=0,l4))

In [222]:
l_odd

[31, 55, 31, 61]

In [228]:
y = [100,-200,300,-9000,10000]
l1 = tuple(filter(lambda x:x>0 ,y))
l1

(100, 300, 10000)

In [311]:
import pandas as pd
Marks = [80,63,44,75,96]
Name = ['A','B','C','D','E']
Score = tuple(zip(Name,Marks))
Name_Score = tuple(filter(lambda x:x[1]>=75,Score))

In [321]:
df = pd.DataFrame({'Marks':Marks,'Name':Name})
df[df['Marks']>75]

   Marks Name
0     80    A
4     96    E

In [287]:
Name_Score

(('A', 80), ('D', 75))

In [281]:
Marks = [80,63,44,75,96]

Name_Score1 = tuple(filter(lambda x:x>=75,Marks))

In [283]:
Name_Score1

(80, 75, 96)

In [323]:
a = 'a'
type(a)

str